<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="PHP Telegram Bot Manager">
    <description>PHP Code Sniffer</description>

    <arg name="colors"/>
    <arg name="parallel" value="8"/>
    <arg name="encoding" value="utf-8"/>
    <arg name="report-width" value="150"/>

    <rule ref="PSR12"/>
</ruleset>
