<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="TelegramBotManager Test Suite">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="error_reporting" value="-1"/>
        <const name="PHPUNIT_TEST" value="true"/>
        <const name="PHPUNIT_DB_HOST" value="127.0.0.1"/>
        <const name="PHPUNIT_DB_USER" value="root"/>
        <const name="PHPUNIT_DB_PASSWORD" value=""/>
        <const name="PHPUNIT_DB_DATABASE" value="telegrambot"/>
    </php>
</phpunit>
